<hr/>
<h3>**Add the Questions**</h3>
<hr/>
<%= form_for @questionbank, url: {action:"create"} do |f|%>
	<table>
		<tr>
			<th>			
				<%= f.label :class_value, "Class"%>
			</th>
			<td>
				<%= f.select :class_value, [['11th','11'],['12th','12']]%><br>
			</td>
		</tr>
		<tr></tr><tr></tr>
		<tr>
			<th>
				<%= f.label :chapter, "Unit"%>
		</th>
			<td>
				<%= f.select :chapter,[['1st','1'],['2nd','2'],['3rd','3'],['4th','4'],['5th','5'],['6th','6'],['7th','7'],['8th','8'],['9th','9'],['10th','10']]%><br/>
			</td>
		</tr>
	    <tr></tr><tr></tr>
		
		<tr>
			<th>
				<%= f.label :marks, "Marks"%>
			</th>
		
			<td>
				<%= f.select :marks, [['1 marks','1'],['2 marks','2'],['3 marks','3'],['5 marks','5']]%><br>
			</td>
		</tr>
		<tr></tr><tr></tr>
		<tr>
			<th>
				<%= f.label :questions, "Question" %>
			</th>
			<td>
				<%= f.text_area :questions, size: "100x6"%><br/>
			</td>
		</tr>
	    <tr></tr><tr></tr>
		<tr></tr>
		<tr>
			<th></th>
			<td>
				<%= f.submit "Submit Question"%>
			</td>
		</tr>
	</table>

<%end%>
<hr/>
<ul>
	<li><h4><%= link_to "Home Page", :controller => "welcome", :action => "index"%></h4></li>
	<li><h4><%= link_to "Add New Question", :controller => "questionbanks", :action => "new"%></h4></li>
	<li><h4><%= link_to "Generate test", :controller => "genratetest", :action => "new"%></h4><br></li>
</ul>
			
