<hr/>
<h3>**Objective Generate Test**</h3>
<hr/>
<%= form_for @objective, url: {action:"generate_objective_test"}, html: {:method => :get}  do |f|%>
	<table>
		<tr>
			<th>			
				<%= f.label :user_class, "Class"%>
			</th>
			<td>
				<%= f.select :user_class, [['11th','11'],['12th','12']]%><br>
			</td>
		</tr>
		<tr></tr><tr></tr>
		<tr>
			<th>
				<%= f.label :chapter_or_topic, "Unit"%>
		</th>
			<td>
				<%= f.select :chapter_or_topic,[['1st','1'],['2nd','2'],['3rd','3'],['4th','4'],['5th','5'],['6th','6'],['7th','7'],['8th','8'],['9th','9'],['10th','10']]%><br/>
			</td>
		</tr>
	    <tr></tr><tr></tr>
		
		<tr>
			<th>
				<%= label_tag :pattern, "Pattern"%>
			</th>
		
			<td>
				<%= select_tag :pattern, options_for_select([['20 Questions','20'],['30 Questions','30'],['45 Questions','45'],['60 Questions','60']])%><br>
			</td>
		</tr>
		<tr></tr><tr></tr>

		<tr></tr>
		<tr>
			<th></th>
			<td>
				<%= f.submit "Generate Test"%>
			</td>
		</tr>
	</table>

<%end%>
<hr/>
<ul>
	<li><h4><%= link_to "Home Page", :controller => "welcome", :action => "index"%></h4></li>
	<li><%= link_to "Add Subjective Question", :controller => "questionbanks", :action => "new"%></li><br/>
	<li><%= link_to "Generate Subjective Test", :controller => "genratetest", :action => "new"%></li><br>
	<li><%= link_to "Add Objective Questions", :controller => "addobjectivequestions", :action => "new"%></li><br>
	<li><%= link_to "Genrate Objective Test", :controller => "generateobjectivetest", :action =>"new"%></li><br>
</ul>
<hr/>
			
